---
import Layout from '~/layouts/Layout.astro';
import Hero from '~/components/Hero.svelte';
import Vectorizer from '~/components/Vectorizer.svelte';
---

<Layout>
  <main>
    <Hero client:only="svelte" />

    <Vectorizer client:only="svelte" />
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1.25rem 3rem;
  }
</style>
